@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ico {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

@layer components {
  .container {
    @apply relative mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
  }

  .view {
    @apply relative flex h-full flex-col items-center justify-between gap-4 py-4 md:gap-8 md:py-8;
  }

  .btn {
    @apply aspect-square rounded-lg  p-2 font-medium leading-[0] text-white focus:outline-none focus:ring-4 xs:p-4;
  }

  .dice {
    @apply relative h-[15vh] w-[15vh] text-[15vh];
    transform-style: preserve-3d;
    transition: transform 0.75s;
  }

  .side {
    @apply absolute flex h-full w-full items-center justify-center rounded-md border-2 border-neutral-950 bg-neutral-200 before:h-1/5 before:w-1/5 before:rounded-full before:bg-neutral-950 before:content-[''] dark:border-neutral-50 dark:bg-neutral-900 before:dark:bg-neutral-50;
  }
}

.spin-enter-active,
.spin-leave-active {
  transition: all 0.75s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.spin-enter-from,
.spin-leave-to {
  transform: rotateY(360deg);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
