@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ico {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

@layer components {
  .container {
    @apply relative mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
  }
}

.spin-enter-active,
.spin-leave-active {
  transition: all 0.75s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.spin-enter-from,
.spin-leave-to {
  transform: rotateY(360deg);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
